@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,700,700italic);
@import 'ember-paper';
@import 'paper-data-table';

/*
* Base Elements
*/
body {
 background: #fdfdfd;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-family: 'Roboto', Helvetica, Arial, sans-serif;
 line-height: 1.5;
}

.open-button {
  text-align: center;
}

.table-cell, .invoice-table-container {
  text-align: center !important;
  padding: 0px !important;
}

.invoice-table-container {
  margin-top: 20px;
}

.invoice-table-filter {
  margin: 0 20px 0 20px;
}

.bold-text {
  font-weight: center;
}

/* InvoiceForm */
.button-container {
  flex-direction: row;
  justify-content: center;
}

.invoice-total {
  font-weight: bold;
}
